<%- include('partials/header'); -%>

<h1>Home</h1>
<p> <%= homeContent %></p>

<% posts.forEach( post => { %>
    <% console.log(post)%>
    <h2> <%= post.title %> </h2>
    <p> 
        <%= post.body.substring(0, 100) + " ..." %>
        <a href=<%= "posts/" + post._id %> >Read More</a>
    </p>
    <h5>By <a href="/"><%= post.author%></a></h5>
<% }); %>

<%- include('partials/footer'); -%>